<!-- NOTE: a lot of this code is taken from the websites above as well as a few others-->

<!-- define controller -->
<div class = "row"    ng-controller = "ListingsController"  ng-init = "find()">
   <!-- set up map -->
    <ui-gmap-google-map center = "map.center" zoom = "map.zoom" draggable = "true" options = "options" bounds = "map.bounds">
        <ui-gmap-markers models = "listings" coords = "'coordinates'" click = "onClick" idkey = "'_id'">
            <ui-gmap-windows show = "show">
                <p ng-non-bindable>
                  name: {{name}} <br>
                  code: {{code}} <br>
                  address: {{address}}
                </p>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>
